* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-image: url(image/17973903.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

header {
    background-color: chocolate;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: calc(100px);
    color: chocolate;
    min-height: 100vh;
}

#gauche {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#gauche h2 {
    text-align: center;
}
#btn {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px ;
    margin-top: 5px;
}
#gauche .tenter {
    background-color: chocolate;
    width: 150px;
    padding: 1rem;
    align-self: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.tenter:hover {
    transform: scale(1.3);
    border-radius: 50px;
}
#reponse {
    color: chocolate;
    margin-top: 90px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#droit {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
#droit #rejouer {
    width: 120px;
    height: 25px;
    background-color: black;
    color: chocolate;
    align-self: center;
}
#rejouer:hover {
    transform: scale(1.3);
}
#droit table {
    background-color: black;
    padding: 1rem;
    width: 350px;
    align-self: center;
}